

.table-scroll {
    max-height: max-content; /* высота таблицы */
    overflow-y: auto; /* добавляем скролл */
    display: block; /* делаем таблицу блоковым элементом */
}

.table-scroll tbody {
    display: block; /* делаем tbody блоковым элементом */
    max-height: 650px; /* высота tbody */
    overflow-y: auto; /* добавляем скролл */
}

.table-scroll thead, .table-scroll tbody tr {
    display: table; /* делаем thead и tr таблицей */
    width: 100%; /* ширина таблицы */
    table-layout: fixed; /* фиксируем ширину таблицы */
}

.table-scroll thead {
    background-color: #f0f0f0; /* цвет фона thead */
    position: sticky; /* делаем thead sticky */
    top: 0; /* позиция thead */
    z-index: 1; /* индекс z */
}